In [18]:
import re
import pandas as pd

In [55]:
def extract_mul(mul):
    return [
             i.split('mul(')[1].split(')')[0].split(',')
             for i in muls
           ]


with open("day3.input", 'r') as file:
    pattern = r"mul\(\-?\d+,\-?\d+\)"
    list_df = []
    for line in file.readlines():
        muls = re.findall(pattern, line)
        list_df.append((pd.DataFrame(extract_mul(muls), columns=['left', 'right'])
                        .astype(int)
                        .assign(line=len(list_df))
                        ))
    df_muls = pd.concat(list_df, axis=0)

In [56]:
(
 df_muls
 .assign(mul_result=lambda x: x.left.mul(x.right))
 .sum()
)

left             367211
right            374740
line               1845
mul_result    188741603
dtype: int64

# Part 2

In [62]:
def extract_dontmul(mul):
    return [
             i[1].split('mul(')[1].split(')')[0].split(',')
             for i in muls if i[0] == "don't()"
           ]


with open("day3.input", 'r') as file:
    pattern = r"(don't\(\)|do\(\)).*?(mul\(\-?\d+,\-?\d+\))"
    list_df = []
    for line in file.readlines():
        muls = re.findall(pattern, line)
        list_df.append((pd.DataFrame(extract_dontmul(muls), columns=['left', 'right'])
                        .astype(int)
                        .assign(line=len(list_df))
                        ))
    df_dontmuls = pd.concat(list_df, axis=0)

In [64]:
(
 df_dontmuls
 .assign(mul_result=lambda x: x.left.mul(x.right))
 #.sum()
)

    left  right  line  mul_result
0     70    361     0       25270
1    549    688     0      377712
2    830    572     0      474760
3     57    686     0       39102
4    541    775     0      419275
5    222    367     0       81474
6    970    606     0      587820
7    399    473     0      188727
8    303    515     0      156045
9     27    685     0       18495
10   569    652     0      370988
11   318    357     0      113526
12   232    345     0       80040
0    783    880     1      689040
1    403    367     1      147901
2    439    823     1      361297
3    801    873     1      699273
4    290    671     1      194590
5      9    769     1        6921
6    785    395     1      310075
7    808    748     1      604384
8    884     75     1       66300
9    769    350     1      269150
10   899    128     1      115072
0    520    847     2      440440
1    834    688     2      573792
2    782    479     2      374578
3    226    608     2      137408
4    943    235     2      221605
5     82    238     2       19516
6    831    147     2      122157
7    878    682     2      598796
0    624    986     3      615264
1    781    791     3      617771
2    299    631     3      188669
0    894    155     4      138570
1    371    529     4      196259
2    328     38     4       12464
3    791    491     4      388381
4    312    367     4      114504
5    693    146     4      101178
6    520    819     4      425880
7    439    959     4      421001
8    699     92     4       64308
0    649    766     5      497134
1     52      7     5         364
2    953    908     5      865324
3    858    196     5      168168

In [61]:
188741603 - 13700768

175040835